* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section, .form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.input{
    padding-bottom: 30px;
}

h1 {
    text-align: center;
    color: #ae370f;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #481502;
    margin-bottom: 4px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 1px;
    border: 1px solid #c0bba6;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fdfdfd;
    color: #333;
}

input:focus, select:focus {
    border-color: #ae370f; 
    outline: none;
}

button {
    padding: 12px 20px;
    background-color: #ae370f;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #481502;
    transform: scale(1.03);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #ae370f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
